@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #FFFFFF, #FFFFFF);
    min-height: 100vh;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.card{
    border: 1px solid black;
    background-color: rgba(139, 139, 139, 0.4);
    text-align: center;
    margin: 10px auto;
    width: min(80%, 500px);
    
}

.card__button{
    background-color: rgb(70, 39, 182);
    border: 1px solid black;
    width: min(70%, 210px);
    display:block;
    position: relative;
    margin: 5px auto;
    font-size: 1rem;
    color: white;
}

.card__color{
    width: min(70%, 70px);
    padding: 3px;
    height: 30px;
    margin: 5px 0;
}

.card__input{
    width: min(70%, 70px);
    padding: 3px;
    height: 20px;
    position: relative;
    top: -2.5px;
    margin: 5px 0;
}


.card__button:hover{
    background-color: rgb(106, 87, 175);
    box-shadow: 0 0 10px rgb(106, 87, 175);
}