@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #FFFFFF, #FFFFFF);
    height: 100vh;
}

.card{
    border: 1px solid black;
    background-color: rgba(139, 139, 139, 0.4);
    text-align: center;
    margin: 10px auto;
    width: min(80%, 500px);
    
}

.card__button{
    background-color: rgb(70, 39, 182);
    border: 1px solid black;
    width: min(70%, 210px);
    display:block;
    position: relative;
    margin: 5px auto;
    font-size: 1rem;
    color: white;
}

.card__color,
.card__input{
    width: min(70%, 70px);
}


.card__button:hover{
    background-color: rgb(106, 87, 175);
}